html {
    color: black;
    font-family: sans-serif;
  }

  body {
    margin: 0;
  }

  .hero {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
  }
  .hero2 {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
  }

  h1 {
    text-shadow: 10px 10px 10px rgb(26, 64, 4);
    font-size: 100px;
  }

  h2 {
    text-shadow: 10px 10px 10px rgb(0, 0, 0);
    font-size: 100px;
  }

 /* scrollbar modification  */
::-webkit-scrollbar{
    width: 10px;
}


/* scrollbar track  */
::-webkit-scrollbar-track{
   background-color: rgb(0, 0, 0);
}



/* scrollbar thumb  */
::-webkit-scrollbar-thumb{
    background-color: rgb(19, 74, 6);
 }



/* scrollbar on hover  */

/* scrollbar track  */
::-webkit-scrollbar-track:hover{
    background-color: rgb(0, 0, 0);
 }
 
 
 
 /* scrollbar thumb  */
 ::-webkit-scrollbar-thumb:hover{
     background-color: rgb(19, 143, 8);
  }
 

